@model AccidentsReports.Models.Driver


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="position-fixed">
    <div>
        <button class="btn btn-outline-primary btn-lg" onclick="location.href='@Url.Action("Police", "SignUp")'">Police</button>
        <button class="btn btn-outline-primary btn-lg" onclick="location.href='@Url.Action("RDA", "SignUp")'">RDA</button>
        <button class="btn btn-outline-primary btn-lg" onclick="location.href='@Url.Action("Insurance", "SignUp")'">Insurance</button>
    </div>
</div>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="container">
        <h2>Driver</h2>
        @if (ViewBag.Errors.Count > 0) {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var item in ViewBag.Errors) {
                        <li>@item</li>
                    }
                </ul>
            </div>
        }
        <div class="form-container">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.NIC, new { @class = "form-label" })
                        @Html.ValidationMessageFor(m => m.NIC, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.NIC, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "form-label" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "form-label" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Gender, new { @class = "form-label" })
                        @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                        @Html.EnumDropDownListFor(m => m.Gender, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.DOB, new { @class = "form-label" })
                        @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address, new { @class = "form-label" })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "form-label" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.LicenceNumber, new { @class = "form-label" })
                        @Html.ValidationMessageFor(m => m.LicenceNumber, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.LicenceNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.RePassword, new { @class = "form-label" })
                        @Html.ValidationMessageFor(m => m.RePassword, "", new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.RePassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>


            <input type="submit" value="Sign Up" class="btn-primary btn-lg" />
        </div>
    </div>

}



