@model AccidentsReports.Models.ReportDetail

@{
    int i = (int)Session["PhotoCount"];
    string id = $"Images_{i}__ImageFile";
}



<div class="col-3">
    @Html.AntiForgeryToken()
    <hr />
    <h6>New Photo</h6>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Images[i].ImageFile, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Images[i].ImageFile, new { @class = "form-control", type = "file" })
        @Html.ValidationMessageFor(model => model.Images[i].ImageFile, "", new { @class = "text-danger" })
    </div>
</div>


