@model AccidentsReports.Models.ReportDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper ModeratorOption() {
    <div>
        <label>Approve: </label>
        <button onclick="location.href='@Html.Action("Approve", new {id = Model.Id})'">Approve</button>
    </div>
}
@helper ApproveStatus() {
    <div>
        <label class="">Approved </label><i class="fa-solid fa-circle-check btn-outline-success"></i>
        <small class="text-muted small">@ViewBag.ApprovedBy</small>
        <small class="text-muted small">@ViewBag.ApprovedByDomain</small>
    </div>
}
@helper DamageEstimateOptions() {
    using (Html.BeginForm("Estimate", "Report", new { Model.Id })) {
        <div>
            <label>Estimated Damage:</label>
            <input type="number" name="damage" />
            <input type="submit" value="Enstimate" />
        </div>
    }
}
@helper EstimateStatus() {
    <div>
        <label>Estimated by: </label>
        <small class="text-muted small">@ViewBag.DamageEstimatedBy</small>
        <small class="text-muted small">@ViewBag.DamageEstimatedByDomain</small>
        <br />
        @Html.LabelFor(model => model.Damage):
        @Html.DisplayFor(model => model.Damage)
    </div>
}
@helper ClaimingOptions() {

    <div>
        @if (Model.DamageEstimatedBy != null) {
            <label>Claim: </label>
            <button onclick="location.href='@Html.Action("Claim", new {id = Model.Id})'">Claim</button>
        }
        else {
            <label>Pending for damage estimate...</label>
        }
    </div>
}
@helper ClaimStatus() {
    <div>
        <label>Estimated by: </label>
        <small class="text-muted small">@ViewBag.ClaimedBy</small>
        <small class="text-muted small">@ViewBag.ClaimedByCompany</small>
    </div>
}


<h2>Details</h2>

@if (Model.ApprovedBy == null && (bool)Session["IsPolice"]) {
    @ModeratorOption();
}
@if (Model.ApprovedBy != null) {
    @ApproveStatus();
}
@if (Model.DamageEstimatedBy == null && (bool)Session["IsRDA"]) {
    @DamageEstimateOptions();
}
@if (Model.DamageEstimatedBy != null) {
    @EstimateStatus();
}
@if (Model.ClaimedBy == null && (bool)Session["IsInsurance"]) {
    @ClaimingOptions();
}
@if (Model.ClaimedBy != null) {
    @ClaimStatus();
}


<div>
    <h4>ReportDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatetTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatetTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Streat1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Streat1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Streat2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Streat2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Streat3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Streat3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVehicleVehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVehicleVehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVehicleProperty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVehicleProperty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVehiclePedestrian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVehiclePedestrian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Damage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Damage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DamageEstimatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DamageEstimatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
