@model AccidentsReports.Models.ReportDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper ModeratorOption() {
    <div class="row">
        <div class="col">
            <label>Approve: </label>
        </div>
        <div class="col">
            <button onclick="location.href='@Html.Action("Approve", new {id = Model.Id})'">Approve</button>
        </div>
    </div>
}
@helper ApproveStatus() {
    <div class="row">
        <div class="col">
            <label class="">Approved </label><i class="fa-solid fa-circle-check btn-outline-success"></i>
        </div>
        <div class="col">
            <small class="text-muted small">@ViewBag.ApprovedBy</small>
            <small class="text-muted small">@ViewBag.ApprovedByDomain</small>
        </div>
    </div>
}
@helper DamageEstimateOptions() {
    using (Html.BeginForm("Estimate", "Report", new { Model.Id })) {
        <div class="row">
            <div class="col">
                <label>Estimated Damage:</label>
            </div>
            <div class="col">
                <input type="number" name="damage" />
                <input type="submit" value="Enstimate" />
            </div>
        </div>
    }
}
@helper EstimateStatus() {
    <div class="row">
        <div class="col">
            <label>Estimated by: </label>
        </div>
        <div class="col">
            <small class="text-muted small">@ViewBag.DamageEstimatedBy</small><br />
            <small class="text-muted small">@ViewBag.DamageEstimatedByDomain</small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.LabelFor(model => model.Damage):
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Damage)
        </div>
    </div>
}
@helper ClaimingOptions() {

    <div class="row">
        @if (Model.DamageEstimatedBy != null) {
            <div class="col">

                <label>Claim: </label>
            </div>
            <div class="col">
                <button onclick="location.href='@Html.Action("Claim", new {id = Model.Id})'">Claim</button>
            </div>
        }
        else {
            <div class="">
                <label>Pending for damage estimate...</label>
            </div>
        }
    </div>
}
@helper ClaimStatus() {
    <div class="row">
        <div class="col">
            <label>Estimated by: </label>
        </div>
        <div class="col">
            <small class="text-muted small">@ViewBag.ClaimedBy</small>
            <small class="text-muted small">@ViewBag.ClaimedByCompany</small>
        </div>
    </div>
}

<h2>Details</h2>

<div class="container">
    <div class="Title">
        <div class="row fs-1">
            @Html.DisplayFor(model => model.Title)
        </div>
        <div class="row text-muted">
            @Html.DisplayFor(model=>model.AuthorName) - 
            @Html.DisplayFor(model=>model.DatetTime)
        </div>

    </div>
    <div class="Location">
        <div class="row">
            @Html.DisplayFor(model=>model.City) - 
            @Html.DisplayFor(model=>model.No)
        </div>
        <div class="row">
            @Html.DisplayFor(model=>model.Streat1) ,
            @Html.DisplayFor(model=>model.Streat2) , 
            @Html.DisplayFor(model=>model.Streat3)
        </div>
    </div>
    <div class="row">
        <div class="col-9 p-1">
            <div class="description h-auto mt-2 fs-5 ">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <div class="col p-1">
            <div class="status">
                @if (Model.ApprovedBy == null && (bool)Session["IsPolice"]) {
                    @ModeratorOption();
                }
                @if (Model.ApprovedBy != null) {
                    @ApproveStatus();
                }
                @if (Model.DamageEstimatedBy == null && (bool)Session["IsRDA"]) {
                    @DamageEstimateOptions();
                }
                @if (Model.DamageEstimatedBy != null) {
                    @EstimateStatus();
                }
                @if (Model.ClaimedBy == null && (bool)Session["IsInsurance"]) {
                    @ClaimingOptions();
                }
                @if (Model.ClaimedBy != null) {
                    @ClaimStatus();
                }
            </div>
        </div>
        <div class="row photo-container">
            @foreach (var image in Model.Images) {
                <div class="col-4 p-1">
                    <div class="card">
                        <img src="@Url.Content(image.ImagePath)" class="img-thumbnail" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
