@model AccidentsReports.Models.User

<div class="row">
    <div class="col-5">
        <img src="@Url.Content(Model.ProfilePic)" class="rounded-3 img-thumbnail">
    </div>
    <div class="col ">
        <div class="row">
            <table>
                <tr>
                    <td>
                        @Html.Label("Name: ", new { @class = "form-label" })
                    </td>
                    <td>
                        @Html.Label($"{Model.FirstName} {Model.LastName}")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Gender, new { @class = "form-label" })
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Gender)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.DOB, new { @class = "form-label" })
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DOB)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Age, new { @class = "form-label" })
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Age)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Address, new { @class = "form-label" })
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Address)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PhoneNumber, new { @class = "form-label" })
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>