@model AccidentsReports.Models.Driver

@{
    ViewBag.Title = "DriverAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DriverAccount</h2>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenceNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@foreach (var item in ViewBag.Reports) {
    <p>
        <label class="d-inline-block">Title</label>
        <label class="d-inline-block">@item.Title</label>
    </p>
    <p>
        <label class="d-inline-block">Author</label>
        <label class="d-inline-block">@item.Author</label>
    </p>
    <p>
        <label class="d-inline-block">ApprovedBy</label>
        <label class="d-inline-block">@item.ApprovedBy</label>
    </p>
    <p>
        <label class="d-inline-block">Category</label>
        <label class="d-inline-block">@item.Category</label>
    </p>
    <p>
        <label class="d-inline-block">Cause</label>
        <label class="d-inline-block">@item.Cause</label>
    </p>
    
    <p>
        <label class="d-inline-block">ClaimedBy</label>
        <label class="d-inline-block">@item.ClaimedBy</label>
    </p>
    
    <p>
        <label class="d-inline-block">Description</label>
        <label class="d-inline-block">@item.Description</label>
    </p>

}
