@model AccidentsReports.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Account",
    new { ReturnUrl = Request.QueryString["ReturnUrl"] },
    FormMethod.Post)) {
    if (IsPost) {
        <div class="alert alert-danger">
            Invalid Login
        </div>
    }
    @Html.LabelFor(model => model.Email)
    <br />
    @Html.TextBoxFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
    <br />
    @Html.LabelFor(model => model.Password)
    <br />
    @Html.PasswordFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)
    <br />
    <button type="submit">Login</button>
}

